.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        border: none;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: -97px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -97px;
    }
    .slick-dots {
        text-align: center;
        display: flex; 
        justify-content: center; 
        list-style: none;   
        button {
            font-size: 0px;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: rgba(108, 108, 108, 0.5);
            outline: none;
            border: none;
            margin: 10px; 
        }
    }
    .slick-active button {
        background-color: $main-color;
    }
}